@{
    var data = (ShowDirectPostViewModel)ViewData["Post"];
}

<div>
    <img src="@Url.Content($"https://adoppix.s3.ap-southeast-1.amazonaws.com/{@data.ImageName}")" style="width:100px; height: 100px;" id="blah" />
    <p>@data.PostId</p>
    <p>@data.Title</p>
    <p>@data.UserName</p>
    <p>@data.Description</p>
</div>

@if (@data.UserName == User.Identity.Name){
    <a href="/post/remove/@data.PostId" >Delete</a>
    <a href="/post/edit/@data.PostId" >Edit</a>
}